*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: rgb(7, 7, 7);
  background-image: url(./backgroundJCr.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.dev {
  width: 20vw;
  text-align: end;
  transition: all 0.2s ease-in-out;
}
.dev a {
  text-decoration: none;
  border-bottom: 1px solid rgba(245, 245, 245, 0.371);
  border-left: 1px solid rgba(245, 245, 245, 0.371);
  padding-left: 0.2rem;
  color: rgba(245, 245, 245, 0.373);
  transition: all 0.2s ease-in-out;
}
.dev:hover,
.dev a:hover {
  text-align: end;
  color: rgba(245, 245, 245, 0.71);
}
.dev img {
  padding-top: 10px;
  max-height: 30px;
}

.wrapper {
  padding: 0 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 20vh;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.header-instruction-wrapper {
  display: flex;
  flex-direction: column;
}

.dev-wrapper {
  display: flex;
  flex-direction: column;
}

.headline {
  font-size: 3rem;
}

.instruction {
  font-size: 1.4rem;
  width: 30vw;
}

.instruction-mobile {
  display: none;
}

.input-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0 3rem;
}

.input-wrapper-mobile {
  display: none;
}

.mobile-btn-wrapper {
  display: none;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.search {
  font-size: 1.2em;
  transition: all 0.2s ease-in-out;
  min-width: 35vw;
  padding: 1rem;
  text-align: center;
  border: none;
  background: linear-gradient(to top, #333 60%, rgba(233, 231, 231, 0.855) 50%);
  background-size: 60% 260%;
  background-position: top left;
}
.search:focus, .search:active {
  font-size: 1.2em;
  min-width: 35vw;
  border: none;
  outline: none;
  background-position: left bottom;
  color: rgb(233, 231, 231);
}
.search:focus::-webkit-input-placeholder, .search:focus::-moz-placeholder, .search:focus:-ms-input-placeholder, .search:focus::-ms-input-placeholder, .search:focus::placeholder, .search:active::-webkit-input-placeholder, .search:active::-moz-placeholder, .search:active:-ms-input-placeholder, .search:active::-ms-input-placeholder, .search:active::placeholder {
  opacity: 0;
}

.clear-btn {
  border-radius: 25px;
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  outline: none;
  border: none;
  color: #333;
  width: 12vw;
  min-width: 12vw;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(to bottom, #333 60%, rgba(233, 231, 231, 0.855) 50%);
  background-size: 60% 260%;
  background-position: bottom right;
}
.clear-btn:hover {
  background-position: right top;
  transform: scale(0.97);
  color: rgb(233, 231, 231);
}
.clear-btn:active {
  transform: scale(0.8);
}

.randomize-btn {
  color: rgba(0, 0, 0, 0.8705882353);
  padding: 1rem;
  font-family: inherit;
  font-weight: bold;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  width: 15vw;
  border-radius: 25px;
  transition: all 0.2s ease-in-out;
  background: linear-gradient(to right, #333 60%, rgba(215, 137, 11, 0.843) 50%);
  background-size: 250% 260%;
  background-position: right top;
}
.randomize-btn:hover {
  background-position: top left;
  transform: scale(0.97);
  color: rgb(233, 231, 231);
  border-radius: 25px;
}
.randomize-btn:active {
  transform: scale(0.8);
}

.dropdown-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  padding: 0 3rem;
}

ul {
  padding-inline-start: 0px;
}

.dropdown-list {
  display: flex;
  flex-direction: column;
  min-width: 35vw;
  max-width: 35vw;
  margin-top: -5px;
}
.dropdown-list li {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style-type: none;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.2rem;
  background-color: rgba(51, 51, 51, 0.2352941176);
}
.dropdown-list li:nth-child(even) {
  background-color: rgba(51, 51, 51, 0.2352941176);
}
.dropdown-list li:hover {
  background-color: #f0f0f0;
  color: #333;
}
.dropdown-list li img,
.dropdown-list li div {
  position: relative;
  z-index: 0;
  padding-left: 0.5rem;
}

.movieSuggest p {
  display: none;
}

.active-per-arrow {
  background-color: #f0f0f0 !important;
  color: #333;
}

.movie-wrapper {
  width: 58vw;
  justify-content: start;
  margin-top: 3rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  gap: 1rem;
  margin-bottom: 2rem;
}

.movie {
  gap: 0.5rem;
  min-width: 10%;
  max-width: 200px;
  background-color: rgba(51, 51, 51, 0.2352941176);
  transition: filter 0.1s ease-in-out;
}
.movie:hover {
  cursor: auto;
  filter: brightness(105%);
}

.fadeInAnimation {
  animation: fadeInAnimation 0.2s ease-in-out;
}
@keyframes fadeInAnimation {
  from {
    transform: translateY(-200px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeOutAnimation {
  animation: fadeOutAnimation 0.2s ease-in-out;
}
@keyframes fadeOutAnimation {
  from {
    transform: scale(1);
    opacity: 1;
  }
  to {
    transform: scale(0.5);
    opacity: 0.1;
  }
}
.movie-pic {
  -o-object-fit: cover;
  object-fit: cover;
  min-width: 200px;
  max-width: 200px;
  max-height: 280px;
  min-height: 280px;
}

.movie-title,
.movie-year {
  padding: 5px;
  font-weight: bold;
}

.alreadyAdded {
  animation: alreadyAdded 0.2s ease-in-out;
}
@keyframes alreadyAdded {
  0% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(-3deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.remove-movie-button-wrapper {
  display: flex;
  justify-content: end;
}

.remove-movie-button {
  position: absolute;
  background-color: white;
  border: none;
  opacity: 0.5;
  transition: all 0.2s ease-in;
}
.remove-movie-button:hover {
  background-color: black;
  color: white;
  opacity: 1;
  cursor: pointer;
}

footer {
  display: flex;
  align-items: start;
  justify-content: start;
  width: 30vw;
  position: fixed;
  bottom: 5px;
  padding: 0 0 5px 1rem;
}
footer a {
  color: whitesmoke;
  opacity: 0.5;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
footer a:hover {
  opacity: 0.8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.dice-element {
  width: 100%;
  height: 100%;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.7725490196);
  animation: resultPopUp 0.2s ease-in-out;
}
@keyframes resultPopUp {
  from {
    filter: blur(10px);
    transform: translateX(50px);
  }
  to {
    filter: blur(0px);
    transform: translateX(0px);
  }
}
.your-random-movie {
  width: 100%;
  font-size: 5rem;
  text-align: center;
  margin-bottom: 3rem;
}

.random-movie-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem;
  margin-bottom: 2rem;
}

.movie-year-dice,
.movie-title-dice {
  font-size: 3rem;
  font-weight: bold;
}

.movie-pic-result {
  width: 200px;
  filter: contrast(1.5);
  filter: drop-shadow(5px 5px 3px rgba(0, 0, 0, 0.7));
  transition: all 0.2s ease-in-out;
}
.movie-pic-result:hover {
  transform: scale(102%);
}

.search-stream-wrapper {
  display: flex;
  justify-content: center;
}
.search-stream-wrapper button {
  background-color: transparent;
  border: 1px solid white;
  padding: 15px;
  font-size: 1.5rem;
  color: whitesmoke;
  transition: all 0.2s ease-in-out;
}
.search-stream-wrapper button:hover {
  background-color: whitesmoke;
  border: 1px solid white;
  color: #333;
  cursor: pointer;
}

@media only screen and (max-width: 1366px) {
  .instruction {
    width: 50vw;
    font-size: 1.2rem;
  }
  .clear-btn {
    font-size: 1rem;
  }
  .dropdown-wrapper {
    gap: 5rem;
  }
  footer {
    align-items: start;
    justify-content: start;
    direction: row;
    width: 100vw;
    padding: 0;
    padding-left: 1.5rem;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .dev {
    width: 100%;
  }
  .headline {
    font-size: 2.5rem;
  }
  .instruction {
    font-size: 1rem;
  }
  .movie-pic {
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 160px;
    max-width: 160px;
    max-height: 240px;
    min-height: 240px;
  }
  .dropdown-wrapper {
    gap: 3rem;
  }
  .movie {
    max-width: 160px;
  }
  .movie-title,
  .movie-year,
  .dropdown-list li {
    font-weight: normal;
  }
  .random-movie-wrapper {
    padding: 0;
    margin-bottom: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  .dev {
    width: 100%;
  }
  .headline {
    font-size: 2.5rem;
  }
  .instruction {
    font-size: 1rem;
  }
  .input-wrapper {
    padding: 0 2rem;
    flex-direction: column-reverse;
  }
  .input-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .search {
    min-width: 80vw;
  }
  .search:focus, .search:active {
    min-width: 80vw;
  }
  .clear-btn,
  .randomize-btn {
    width: 35vw;
  }
  .dropdown-wrapper {
    align-items: center;
    flex-direction: column;
  }
  .dropdown-list {
    min-width: 80vw;
    max-width: 80vw;
    margin-top: 0px;
    background-color: rgba(51, 51, 51, 0.6235294118);
  }
  .movie-wrapper {
    width: 90vw;
    position: absolute;
    z-index: -1;
  }
  .movie-pic {
    -o-object-fit: cover;
    object-fit: cover;
    min-width: 160px;
    max-width: 160px;
    max-height: 240px;
    min-height: 240px;
  }
  .dropdown-wrapper {
    gap: 3rem;
  }
  .movie {
    max-width: 160px;
  }
  .movie-title,
  .movie-year,
  .dropdown-list li {
    font-weight: normal;
  }
  .random-movie-wrapper {
    padding: 0;
    margin-bottom: 0;
  }
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}/*# sourceMappingURL=style.css.map */