* {
    margin: 0;
}

body {
    background-color: #323232;
    color: #dfdfdf;
    font-family: "Courier New", Courier, monospace;
}

// .content {
//     height: 100vh;
//     display: flex;
//     align-items: center;
//     justify-content: center;
// }

.wrapper {
    background-color: #00000087;
    padding: 2rem;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
}

.headline {
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.instruction {
    font-size: 1.4rem;
    margin-bottom: 5rem;
}

#search {
    border-radius: 25px;
    font-size: 1.2em;
    width: 10rem;
    transition: all 0.3s ease-in-out;
    width: 20vw;
    padding: 1rem;
    text-align: center;
    background-color: rgba(233, 231, 231, 0.797);
    border: none;
}

#search:focus {
    font-size: 1.5em;
    width: 25vw;
    border: none;
    border-radius: 15px;
}

#search:focus::placeholder {
    opacity: 0;
}
